################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/src/.vs
/src/dream.walker.space/bin
/src/dream.walker.space/Aurelia/dist
/src/dream.walker.space/Aurelia/test/e2e/dist
/src/dream.walker.space/obj
/src/dream.station.tests/obj
/src/dream.station.tests/bin
/src/dream.walker.data/bin/Debug
/src/dream.walker.data/obj/Debug
/src/dream.walker.reader/bin/Debug
/src/dream.walker.reader/obj/Debug
/src/dream.walker.station/bin
/src/dream.walker.station/obj
/src/dream.walker.stock/bin/Debug
/src/dream.walker.stock/obj/Debug
/src/dream.walker.indicators/obj/Debug
/StockScanner.Indicators/bin/Debug
/StockScanner.Indicators/obj/Debug
/StockScanner.Interfaces/bin/Debug
/StockScanner.Interfaces/obj/Debug
/src/dream.walker.indicators/bin
/src/dream.walker.strategy/bin/Debug
/src/dream.walker.strategy/obj/Debug
/src/dream.walker.calculators/bin
/src/dream.walker.calculators/obj
/src/dream.walker.data/bin/Release
/src/dream.walker.data/obj/Release
/src/dream.walker.indicators/obj/Release
/src/dream.walker.reader/bin/Release
/src/dream.walker.reader/obj/Release
/src/dream.walker.stock/bin/Release
/src/dream.walker.stock/obj/Release
/src/dream.walker.strategy/bin/Release
/src/dream.walker.strategy/obj/Release
/src/Dream.WebJob.Quotes/bin
/src/Dream.WebJob.Quotes/obj
