/// <reference path="../base/_variables" />

/// <reference path="../base/_variables" />

.btn {
    font-weight: normal;
    font-size: 14px;
    //font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-default {
    color: #333;
}

.dropdown-menu > li > a {
    //font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}