/// <reference path="../base/_variables" />

h2, .h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

h3, .h3, .H3 {
    color: @h3-color;
    text-transform: uppercase;
    font-size: 13px;
}

ul, ol {
    li {padding: 3px 0;}
}

ul.dropdown-menu {
    li {
        padding:0;
        margin: 3px 0;
        cursor: pointer;
    }
}

/* buttons */
.btn-warning:focus, .btn-warning.focus {
    outline:none;
    border-color: #eea236;
}
.btn-success:focus, .btn-success.focus {
    outline:none;
    border-color: #4cae4c;
}

nav-header {
    top: 0px;
    z-index: 999;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background: #ffffff;
    padding: 0;

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: transparent;
        color: #e22004;
    }
    
    .nav > li > a:hover {
        text-decoration: underline;
    }

    .navbar-brand {
            margin: 0;
            padding: 0;
            float: left;
            font-size: 26px;
            line-height: 58px;
            cursor: pointer;

            img.logo {
                margin-right: -2px;
                top: -2px;
                position: relative;
                display: inline-block;
                width: 47px;
                opacity: 0.96;
            }

            a, a:hover {
                span {
                    color: @font-color;
                }
            }

            span.pound {
                color: @link-color;
                font-weight: bold;
                font-size: 46px;
                line-height: 25px;
                position: relative;
                top: 6px;
            }
        }

}
