/// <reference path="../base/_variables" />

.c_rules-content {
    .c_rule-list {
        background-color:@page-bg-content;

    }

    .c_rule {
        .c_rule-header {

        }

        .c_rule-details {
            box-shadow: 0px 1px 3px 0px rgba(116, 116, 116, 0.25);
            background-color: rgb(255, 255, 255);
            padding: 10px 10px;       
            margin-bottom: 20px; 
        }
    }
}

