@import url(//fonts.googleapis.com/css?family=Open+Sans:400|Roboto);
@import url(//fonts.googleapis.com/css?family=Istok+Web:400,700);
@import url(//fonts.googleapis.com/css?family=Inder);
@import url(//fonts.googleapis.com/css?family=Raleway);
@import url(//fonts.googleapis.com/css?family=PT+Sans);
@import url(//fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@link-color: #e22004;
@body-bg-color: #FFF;
@main-menu-bg-color: #F2F2F2;
@font-color: #333333;
@font-color-error: #CA1D04;
@font-color-ok: #5cb85c;
@font-color-warn: #f0ad4e;
@font-color-pale: rgba(0,0,0,.55);

@h3-color: #e22004;
@error-border-color: #e22004;
@error-font-color: #e22004;
@dotted-border-color: #777;
@solid-border-color: rgba(204, 204, 204, 0.36);
@article-block-bg-edit: #F8F8F8;
@form-control-border-color: #ccc;
@header-color:rgb(45, 73, 69);
@input-bg-readonly: rgba(223, 223, 223, 0.13);
@article-parts-bg: rgba(223, 223, 223, 0.13);
@main-nav-bg: rgba(161, 161, 161, 0.2);
@article-parts-input-bg: rgba(255, 255, 255, 0.4);
//@input-bg-readonly: transparent;
@page-bg-section: rgba(255, 255, 255, 0.66);
@page-bg-content: rgba(255, 255, 255, 0.7);
@btn-default-border-color: #c9302c;
@btn-default-bg-hover: rgba(201, 48, 44, 0.05);
@btn-danger-bg: #e22004;
//font-family: 'PT Sans', sans-serif;
//font-family: 'Lato', sans-serif;