@import url(//fonts.googleapis.com/css?family=Open+Sans:400|Roboto);
@import url(//fonts.googleapis.com/css?family=Istok+Web:400,700);
@import url(//fonts.googleapis.com/css?family=Inder);
@import url(//fonts.googleapis.com/css?family=Raleway);

@link-color: #e22004;
@body-bg-color: #FFF;
@main-menu-bg-color: #F2F2F2;
@font-color: #333333;
@font-color-error: #CA1D04;
@h3-color: #C11800;
@dotted-border-color: #777;
@solid-border-color: #DDD;
@article-block-bg-edit: #F8F8F8;
@form-control-border-color: #ccc;
@header-color:rgb(45, 73, 69);
@input-bg-readonly: rgba(223, 223, 223, 0.13);
//@input-bg-readonly: transparent;
@page-bg-section: rgba(255, 255, 255, 0.66);
@page-bg-content: rgba(255, 255, 255, 0.7);


