@link-color: #e22004;
@body-bg-color: #FFF;
@main-menu-bg-color: #F2F2F2;
@font-color: #252d2c;
@font-color-error: #CA1D04;
@h3-color: #C11800;
@dotted-border-color: #777;
@solid-border-color: #DDD;
@article-block-bg-edit: #F8F8F8;
@form-control-border-color: #ccc;

